body{
    margin: 0;
}
.headerContainer{
    position: fixed;
    display: flex; justify-content: space-around; align-items: center;
    width: 100%;
    background: aliceblue;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 5px 1px #ddd;
    z-index: 10;
}

.headerContainer div{
    display: flex; justify-content: center; align-items: center; flex-direction: column;
}

.headerContainer span.info {
    font-size: 12px;
}


.bodyContainer {
    min-height: calc(100vh - 200px);
}

.info {
    color: #888; font-family: monospace, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.info.active {
    color: #5a79e8;
}
p.info { font-size: 12px; }
.appTitle { color: #666; }


.formContainer {
    margin: 100px 0px 20px 0px;
    display: flex; justify-content: center; align-items: center;
}
.addFiles {
    background: #5a79e8;
    width: 60px; height: 60px;
    display: flex; justify-content: center; align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 7px 1px #5a79e8;
    cursor: pointer;
}
.addFiles p{
    font-size: 50px;
    color: #fff;
}
#filesInput {
    display: none;
    /* visibility: hidden; */
    width: 0px; height: 0px; opacity: 0px; position: fixed; top: -100%;
}


.filesContainer {
    width: 100%;
    display: flex; justify-content: center; align-items: flex-start; flex-direction: row; flex-wrap: nowrap;
}

fieldset {
    border: 0px #aaaaaa solid;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px #ddd;
    padding: 20px;
    margin: 20px;
    display: flex; justify-content: center; align-items: center; flex-direction: column; flex-wrap: nowrap;
}
fieldset.uploadedFiles {
    background: aliceblue;
}
fieldset.processedFiles {
    background: #fff;
}

legend {
    padding: 0px 14px;
    background: #eee;
    border-radius: 5px;
    line-height: 0px;
    text-align: center;
}


fieldset .imageContainer, fieldset .videoContainer{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px #ddd;
    position: relative;
    background-size: cover;
    width: 300px;
    min-height: 300px;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
}
fieldset .videoContainer video {
    width: 100%;
    min-height: 300px;
    height: auto;
    border-radius: 10px;
}
fieldset .hiddenAction {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 0px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: space-around;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
fieldset.uploadedFiles .hiddenAction {
    background: rgba(255, 0, 0, 0.8);
}
fieldset.processedFiles .hiddenAction {
    /* background: rgba(0, 255, 0, 0.8); */
    background: rgba(90, 121, 232, 0.8);
}
fieldset.processedFiles .hiddenAction a{
    background: aliceblue;
    padding: 0px 15px;
}

fieldset .hiddenAction a{
    text-decoration: none;
}
fieldset .hiddenAction a p{
    width: 100%;
    font-size: 18px;
    font-weight: bolder;
}
fieldset.uploadedFiles .hiddenAction a p{
    color: #fff;
}
fieldset.processedFiles .hiddenAction a p.png{
    color: #666;
}
fieldset.processedFiles .hiddenAction a p.jpg{
    color: #5a79e8;
}
fieldset .imageContainer:hover > .hiddenAction, fieldset .videoContainer:hover > .hiddenAction{
    visibility: visible;
    opacity: 1;
}

fieldset .videoContainer:hover > video{
    min-height: 244px;
    border-radius: 10px 10px 0px 0px;
}

.processingContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    display: flex; justify-content: center; align-items: center; flex-direction: row; flex-wrap: nowrap;
    background: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
.processingContainer p {
    font-size: 30px;
    color: #fff;
    font-weight: bolder;
}






.FooterContainer{
    display: flex; justify-content: space-around; align-items: flex-start;
    width: 100%;
    padding-bottom: 10px;
    background: #242729;
    box-shadow: 0px 0px 5px 1px #999;
    z-index: 10;
}

.FooterContainer div.col{
    display: flex; justify-content: flex-start; align-items: flex-start; flex-direction: column;
    max-width: 33%;
    text-align: justify;
  	text-justify: inter-word;
}

.FooterContainer div.col .title{
    
}
.FooterContainer div.col ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.FooterContainer div.col ul li{
    margin-top: 5px;
}

.FooterContainer .info {
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}
.FooterContainer .link{
    font-size: 12px;
}